src/main/resources/META-INF/ssdev.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.bsoft.com.cn/schema/ssdev">
	
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	
	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the dubbo services provided by dubbo framework. ]]></xsd:documentation>
	</xsd:annotation>
	
	<xsd:element name="applicationDomain">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The application config ]]></xsd:documentation> 
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The application name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="rpcServerWorkUrl" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The application owner name (email prefix). ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="registryAddress" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The organization name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="enableLogger" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The organization name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="service">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The service config ]]></xsd:documentation> 
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="ref" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The ref name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="class" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The class name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="weights" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The weights arg for balance. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="subscribe" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The topic for subscribe. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="subscribeWay" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The subscribeWay is host or service. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="reference">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The reference config ]]></xsd:documentation> 
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The interface name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="wsProxyService">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The wsProxyService config ]]></xsd:documentation> 
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="wsdl" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The wsdl url. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The interface name. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="weights" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The weights arg for balance. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="subscribe" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The topic for subscribe. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="subscribeWay" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The subscribeWay is host or service. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="master" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ indicate the service is master will overwrite registry one. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="logger">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The logger config ]]></xsd:documentation> 
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="service" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The logger service. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="statCheckDelayTime" type="xsd:int" />
			<xsd:attribute name="sendBatchSize" type="xsd:int" />
			<xsd:attribute name="sendMaxStayTime" type="xsd:int" />
			<xsd:attribute name="sendRetryTimes" type="xsd:int" />
			<xsd:attribute name="sendRetryDelayTime" type="xsd:int" />
			<xsd:attribute name="sendCheckDelayTime" type="xsd:int" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="connector">
		<xsd:annotation> 
			<xsd:documentation><![CDATA[ The logger config ]]></xsd:documentation> 
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="url" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The serverUrl for rpcserver. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="threads" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The threads for server handler executor. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="queues" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation><![CDATA[ The queue size for server handler executor. ]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>